@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add to your global CSS file or <style> tag */
.skeleton {
  background: #e0e0e0;
  border-radius: 0.375rem;
  height: 300px;
  width: 100%;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }

  50% {
    background-color: #f5f5f5;
  }

  100% {
    background-color: #e0e0e0;
  }
}

.mySwiper .swiper-slide-thumb-active {
  border: 0.5px solid black;
  border-radius: 4px;
}

.mySwiper .swiper-slide {
  margin-left: 5px;
  cursor: pointer;
}

.product-gallery.swiper .swiper-button-prev::after {
  padding: 10px;
  border-radius: 15px;
  background-color: #f5d9d9;
}

.product-gallery.swiper .swiper-button-next::after {
  padding: 10px;
  border-radius: 15px;
  background-color: #f5d9d9;
}

.btn-primary {
  @apply p-2 bg-primary text-white border border-primary font-bold py-2 px-4 rounded hover:bg-secondary hover:text-primary transition-all ease-in duration-150;
}

.btn-secondary {
  @apply p-2 bg-secondary text-primary border border-primary font-bold py-2 px-4 rounded hover:bg-primary hover:text-white transition-all ease-in duration-150;
}

.slick-prev,
.slick-next {
  @apply md:w-[25%] md:h-[25%];
}